<launch>
	<include file="$(find pcl_ros)/launch/demos/manager.launch"/>
	<node pkg="nodelet" type="nodelet" name="xfilter" args="load pcl/PassThrough pcl_manager" output="screen">
		<remap from="/xfilter/input" to="/camera/depth/points"/>
	</node>
	<node pkg="nodelet" type="nodelet" name="yfilter" args="load pcl/PassThrough pcl_manager" output="screen">
		<remap from="/yfilter/input" to="/xfilter/output"/>
	</node>
	<node pkg="nodelet" type="nodelet" name="zfilter" args="load pcl/PassThrough pcl_manager" output="screen">
		<remap from="/zfilter/input" to="/yfilter/output"/>
		<remap from="/zfilter/output" to="/face_cloud"/>
	</node>

	<include file="$(find pi_face_tracker)/launch/face_tracker_kinect.launch"/>

<!--	<node pkg="head_tracker" type="extract_head_cloud.py" name="extract_head_cloud">-->
<!--		<remap from="depth_image" to="/camera/depth/image"/>-->
<!--		<remap from="camera_info" to="/camera/depth/camera_info"/>-->
<!--	</node>-->
</launch>
